{% extends 'layouts/email.html.twig' %}
{% set page_title = 'Réinitialisation de mot de passe' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="wrap">
    <div class="card">
        <div class="brand">BELLE MAISON</div>
        <p>Vous avez demandé un nouveau mot de passe.</p>
        <h1>Réinitialisation de mot de passe</h1>
        <p>Bonjour {{ user.firstname|default('') ?: 'à vous' }}, cliquez sur le bouton ci-dessous pour choisir un nouveau mot de passe.</p>
        <div class="box">
            <p>Ce lien de sécurité expire {{ resetToken is defined ? resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') : 'dans un délai limité' }}.</p>
        </div>
        <a class="btn" href="{{ resetUrl|default('#') }}">Réinitialiser mon mot de passe</a>
        <p class="muted">Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email.</p>
    </div>
</div>
{% endblock %}
