{% extends 'layouts/email.html.twig' %}
{% set page_title = 'Mot de passe pro' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="wrap">
    <div class="card">
        <div class="brand">BELLE MAISON</div>
        <p>Réinitialisez l’accès à votre espace professionnel.</p>
        <h1>Mot de passe pro</h1>
        <p>Bonjour {{ user.firstname|default('') ?: 'à vous' }}, utilisez ce lien pour définir un nouveau mot de passe pour votre espace professionnel.</p>
        <div class="box">
            <p>Ce lien de sécurité expire {{ resetToken is defined ? resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') : 'dans un délai limité' }}.</p>
        </div>
        <a class="btn" href="{{ resetUrl|default('#') }}">Réinitialiser mon mot de passe</a>
        <p class="muted">Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email.</p>
    </div>
</div>
{% endblock %}
